---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';

export interface Props {
  icon?: string;
  title?: string;
  description?: string;
  className?: string;
}

const {
  //icon = 'tabler:info-square',
  icon,
  className,
  title = await Astro.slots.render('title'),
  description = await Astro.slots.render('description'),
} = Astro.props;
---

<section class={twMerge("bg-blue-50 dark:bg-slate-800 not-prose rounded-md intersect-once intersect-quarter intersect-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade", className)}>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-center">
    {icon && <Icon name={icon} class="w-6 h-6 inline-block align-text-bottom font-bold" />}
    <span class="text-2xl font-bold" set:html={title} />
    <div class={title ? "mt-4" : ''}><Fragment set:html={description} /></div>
  </div>
</section>
