---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import ListaServidores from '~/components/widgets/ListaServidores.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Redes Libres',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Únete a las redes libres',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
      },
      { text: 'Aprender más', variant: 'link' ,href: '#informacion' },
    ]}
  >
    <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} -->
    <Fragment slot="title">
      Únete a las
      <span class="text-primary">Redes</span>
      <span class="text-secondary">Libres</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span>
        En una era en la que unas pocas corporaciones tecnológicas dominan lo que podemos ver y hacer en sus plataformas,
        las redes libres son nuestra oportunidad de democratizar las redes y devolverlas a manos de las personas que las habitan.
      </span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <ListaServidores />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="informacion"
    title="¿Qué son las redes libres?"
    items={[
      {
        title: 'Descentralizadas',
        description:
          'Están compuestas de muchos proveedores independientes, en lugar de una sola empresa que asume el control de toda la red. Cada proveedor tiene sus reglas, y si no encajan contigo siempre puedes escoger otro.',
      },
      {
        title: 'Federadas',
        description:
          'Funcionan gracias a un lenguaje común que permite a los diferentes proveedores y aplicaciones que las componen comunicarse entre sí.',
      },
      {
        title: 'Basadas en software libre',
        description:
          'Su código está disponible para conocer como funcionan sus algoritmos, así como para modificarlo y hacer nuestra propia versión.',
      },
    ]}
    image={{
      src: '~/assets/images/fediverse.gif',
      alt: 'Imagen mostrando el intercambio de mensajes entre distintas redes del fediverso. Créditos: https://jointhefediverse.net',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Características de las redes libres</h3>
      Son libres aquellas redes (sociales, de mensajería, etc) que son:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Son un monopolio',
        description: `Están controladas por una única corporación que decide lo que se permite o no en su plataforma.`,
      },
      {
        title: 'Estamos encerrados en ellas',
        description:
          'Lo que pasa en su plataforma, se queda en su plataforma. El contenido no es accesible libremente desde otras redes y pertenece a la corporación.',
      },
      {
        title: 'No son auditables',
        description:
          "No podemos saber cómo funcionan sus algoritmos, que a menudo se usan para manipular lo que ves.",
      },
    ]}
    image={{
      src: '~/assets/images/centralized.png',
      alt: 'Imagen que representa una plataforma centralizada como un caja con personas encerradas dentro',
    }}
    positive={false}
  >
    <Fragment slot="content">En comparación, las redes no libres, como Facebook o Instagram...</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Tipos de redes libres"
    subtitle="Para liberar tus redes sociales o de mensajería"
    items={[
      {
        title: 'El Fediverso',
        description: "Las redes sociales, de nuevo en nuestras manos. Comparte publicaciones, fotos o vídeos con tus seguidores en el Fediverso.",
        icon: 'flat-color-icons:template',
        callToAction: { text: "Descubre el Fediverso", variant: "link"}
      },
      {
        title: 'El correo electrónico',
        description:
          "Este veterano de la mensajería aún tiene mucho que ofrecer. Descubre su lado más moderno gracias a Delta Chat.",
        icon: 'flat-color-icons:gallery',
        callToAction: { text: "Descubre Delta Chat", variant: "link"}
      },
      {
        title: 'XMPP',
        description: 'La red libre de mensajería por excelencia tiene un nombre, aunque cuesta un poco pronunciarlo.',
        icon: 'flat-color-icons:approval',
        callToAction: { text: "Descubre XMPP", variant: "link"}
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="asociacion"
    title="Quiénes somos"
    subtitle='La Asociación Redes Libres, una agrupación de proveedores cuyo objetivo es impulsar las redes libres que cumplan los siguientes principios.'
    items={[
      {
        title: 'Comunidad',
        description:
          'Nuestros servicios se ofrecen por personas, para personas. Rechazamos las soluciones comerciales y la mercantilización de nuestra vida en línea.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Privacidad',
        description:
          'Evitamos recopilar tu información personal y no compartimos tus datos con ningún tercero con el que no sea estrictamente necesario.',
        icon: 'tabler:lock',
      },
      {
        title: 'Accesibilidad',
        description:
          'Creemos que la tecnología debe ser accesible para todas las personas, sin importar su nivel económico o funcional.',
        icon: 'tabler:accessible',
      },
      {
        title: 'Inclusividad',
        description:
          'En las redes libres son bienvenidas todas las personas, y nos tomamos en serio la protección de minorías y colectivos vulnerables.',
        icon: 'tabler:world',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Blog de Redes Libres"
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contribuir',
        href: 'https://liberapay.com/mastoes',
        target: '_blank',
        icon: 'tabler:heart-handshake',
      },
    ]}
  >
    <Fragment slot="title">
      Posible gracias a ti
    </Fragment>

    <Fragment slot="subtitle">
      Las redes libres existen gracias a las personas que las mantienen.
      <br>Considerar contribuir o involucrarte para ayudar a que siga siendo así.
    </Fragment>
  </CallToAction>
</Layout>
