---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import ListaServidores from '~/components/widgets/ListaServidores.astro';
import Note from '~/components/widgets/Note.astro';
import Layout from '~/layouts/PageLayout.astro';

export const prerender = false;

const metadata = {
  title: 'Redes Libres',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Únete a las redes libres',
        href: '/redes/todas',
      },
      { text: 'Aprender más', variant: 'link', href: '#informacion' },
    ]}
  >
    <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} -->
    <Fragment slot="title">
      Únete a las
      <span class="text-primary">Redes</span>
      <span class="text-secondary">Libres</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span>
        En una era en la que unas pocas corporaciones tecnológicas dominan lo que podemos ver y hacer en sus
        plataformas, las redes libres son nuestra oportunidad de democratizar las redes y devolverlas a manos de las
        personas que las habitan.
      </span>
    </Fragment>
  </Hero>

  <ListaServidores id="servidores" linkUrl={"/redes/todas"} />

  <Content
    isReversed
    id="informacion"
    title="¿Qué son las redes libres?"
    items={[
      {
        title: 'Descentralizadas',
        description:
          'Están compuestas de muchos proveedores independientes, en lugar de una sola empresa que asume el control de toda la red. Cada proveedor tiene sus reglas y condiciones, y eres libre de escoger el que más se adapte a ti.',
      },
      {
        title: 'Interoperables',
        description:
          'Funcionan gracias a un lenguaje común que permite a los diferentes proveedores y aplicaciones que las componen comunicarse entre sí.',
      },
      {
        title: 'Basadas en software libre',
        description:
          'Su código está disponible para conocer como funcionan sus algoritmos, así como para modificarlo y hacer nuestra propia versión.',
      },
    ]}
    image={{
      src: '~/assets/images/fediverse.gif',
      alt: 'Imagen mostrando el intercambio de mensajes entre distintas redes del fediverso. Créditos: https://jointhefediverse.net',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Características de las redes libres
      </h3>
      Son libres aquellas redes (sociales, de mensajería, etc) que son:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Son un monopolio',
        description: `Están controladas por una única corporación que decide lo que se permite o no en su plataforma, a menudo sin tener en cuenta las necesidades de minorías y colectivos vulnerables.`,
      },
      {
        title: 'Estamos encerrados en ellas',
        description:
          'Lo que pasa en su plataforma, se queda en su plataforma. Tu contenido no es accesible libremente y pertenece a la corporación, que lo explota para beneficiarse.',
      },
      {
        title: 'No son auditables',
        description:
          'No podemos saber cómo funcionan sus algoritmos, que frecuentemente utilizan mecanismos de adicción y de manipulación.',
      },
    ]}
    image={{
      src: '~/assets/images/centralized.png',
      alt: 'Imagen que representa una plataforma centralizada como un caja con personas encerradas dentro',
    }}
    positive={false}
  >
    <Fragment slot="content">En comparación, las redes no libres, como Facebook o Instagram...</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features2
    title="Tipos de redes libres"
    items={[
      {
        title: 'Redes sociales',
        description:
          'Las redes sociales, de nuevo en nuestras manos. Comparte publicaciones, fotos o vídeos con tus seguidores en el Fediverso.',
        icon: 'flat-color-icons:address-book',
        callToAction: { text: 'Descubre el Fediverso', variant: 'link', href: '/redes/sociales' },
      },
      {
        title: 'Mensajería',
        description:
          'Desde el veterano correo electrónico hasta opciones modernas como Delta Chat, libera tus comunicaciones de las corporaciones.',
        icon: 'flat-color-icons:sms',
        callToAction: { text: 'Descubre Delta Chat', variant: 'link', href: '/redes/mensajeria' },
      },
      {
        title: 'Eventos y novedades',
        description:
          '¿Te imaginas poder seguir novedades de cualquier sitio de noticias o blog donde y como quieras? RSS lo hace posible.',
        icon: 'flat-color-icons:template',
        callToAction: { text: 'Descubre RSS', variant: 'link', href: '/redes/novedades' },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features
    id="asociacion"
    title="Quiénes somos"
    subtitle="La Asociación Redes Libres es una agrupación de proveedores de servicios libres cuyo objetivo es impulsar las redes libres que cumplan los siguientes principios"
    callToAction1={{
      variant: 'link',
      text: 'Aprende más sobre nosotras',
      href: '/asociacion/objetivos',
    }}
    items={[
      {
        title: 'Comunidad',
        description:
          'Nuestros servicios se ofrecen por personas, para personas. Rechazamos las soluciones comerciales y la mercantilización de nuestra vida en línea.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Privacidad',
        description:
          'Evitamos recopilar tu información personal y no compartimos tus datos con ningún tercero con el que no sea estrictamente necesario.',
        icon: 'tabler:lock',
      },
      {
        title: 'Accesibilidad',
        description:
          'Creemos que la tecnología debe ser accesible para todas las personas, sin importar su nivel económico o funcional.',
        icon: 'tabler:accessible',
      },
      {
        title: 'Inclusividad',
        description:
          'En las redes libres son bienvenidas todas las personas, y nos tomamos en serio la protección de minorías y colectivos vulnerables.',
        icon: 'tabler:world',
      },
    ]}
  />

  <Note description="Aprende más sobre la <a href='/asociacion/objetivos' class='hover:underline text-accent' >Asociación Redes Libres</a>" />
  <p class="w-full text-center text-accent intersect-once intersect-quarter intersect-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"></p>

  <BlogLatestPosts title="Blog de Redes Libres" />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contribuir',
        href: '/contribuir',
        icon: 'tabler:heart-handshake',
      },
    ]}
  >
    <Fragment slot="title"> Posible gracias a ti </Fragment>

    <Fragment slot="subtitle">
      Las redes libres existen gracias a las personas que las mantienen.
      <br />Considerar contribuir o involucrarte para ayudar a que siga siendo así.
    </Fragment>
  </CallToAction>
</Layout>
